body {
    margin: 0;
    background: rgb(52,52,52);
    background: -moz-radial-gradient(circle, rgba(52,52,52,1) 0%, rgba(8,8,8,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(52,52,52,1) 0%, rgba(8,8,8,1) 100%);
    background: radial-gradient(circle, rgba(52,52,52,1) 0%, rgba(8,8,8,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#343434",endColorstr="#080808",GradientType=1);
    color: #f7f7f7;
    --color-primary-white: rgb(240, 240, 240);
}

html,body {
    height: 100%;
    /* font-size: 25px; */
}


/* ~ ////////////////////////////////////////////////////////////// Start Navbar /////////////////////////////////////////////////////////////// */

nav {
    background-color: #f7f7f7;
    color: #606060;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 20px;
    font-weight: bold;
    position: fixed;
    z-index: 99;
}

nav h1 {
    margin: 0;
    font-size: 30px;
    color: #333333;
    display: flex;
    align-items: center;
    font-family: 'Alkatra', cursive;
    font-weight: 200;
    cursor: default;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #333333;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

nav li a:hover, nav li a:focus {
    background-color: #333333;
    color: #f7f7f7;
}

nav .fa-solid {
    margin-right: 10px;
    color: #333333;
}

nav .menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #333333;
}

@media (max-width: 830px) {
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #f7f7f7;
        padding: 10px;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    }
    nav ul li {
        margin: 10px 0;
    }
    nav .menu-icon {
        display: block;
    }
}
/* ~ ////////////////////////////////////////////////////////////// End Navbar /////////////////////////////////////////////////////////////// */

/* ? ///////////////////////////////////////////////////////// Start Content //////////////////////////////////////////////////////*/

section.content {
    margin-top: 90px;
    margin-left: 6%;
    margin-right: 6%;
    min-height: calc(100vh - 278px); 
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}
/* ? ///////////////////////////////////////////////////////// End Content //////////////////////////////////////////////////////*/

/* * ///////////////////////////////////////////////////// Start Gallery ///////////////////////////////////////////////////////// */
section.gallery {
    display: flex;
    /* width: 900px; */
    width: 95%;
    height: 630px;
    padding: 20px;
}
section.gallery img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    filter: grayscale(.7);
    transition: .5s ease;
}
section.gallery img:hover {
    /* cursor: default; */
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

/* * ///////////////////////////////////////////////////// Gallery Cards ///////////////////////////////////////////////////////// */

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
  padding: 50px;
  font-family: 'Roboto', sans-serif;
}

.card {
  width: 28rem;
  height: 34rem;
  border-radius: 15px;
  overflow: hidden;
  cursor: default;
  position: relative;
  color: var(--color-primary-white);
  box-shadow: 0 10px 30px 5px rgba(84, 84, 84, 0.2);
  margin-bottom: 40px;
}

.card img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  transition: opacity 0.2s ease-out;
}

.card h2 {
    position: absolute;
    inset: auto auto 30px 0px;
    padding-left: 30px;
    margin: 0;
    transition: inset 0.3s 0.3s ease-out;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px #333333;
    background: rgba(96, 96, 96, 0.467);
    width: 100vh;
}

.card p,
.card a {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity 0.3s ease-out;
}

.card p {
  inset: auto auto 80px 30px;
}

.card a {
  inset: auto auto 40px 30px;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.card:hover h2 {
    inset: auto auto 220px 30px;
    transition: inset 0.3s ease-out;
    text-shadow: 2px 2px #333333;
    background: none;
    width: 0;
}

.card:hover p,
.card:hover a {
  opacity: 1;
  transition: opacity 0.5s 0.1s ease-in;
}

.card:hover img {
  transition: opacity 0.3s ease-in;
  opacity: 0.2;
}

.material-symbols-outlined {
  vertical-align: middle;
}

/* Paginado de Galeria */
#pagination-container {
  border: 3px solid #f7f7f7;
  border-radius: 25px;
  padding: 18px;
  margin: auto 20%;
  margin-bottom: 80px;
  position: relative;
}
.explore-more {
  position: absolute; /* para que se posicione de manera absoluta */
  top: -15px; /* para que se posicione arriba del borde */
  left: 50%; /* para que esté en el centro horizontal */
  transform: translateX(-50%); /* para corregir el centro */
  padding: 3px 10px; /* para darle espacio al texto */
  font-size: 1.3rem;
  color: #333333;
  font-weight: bold;
  background: #f7f7f7;
  border-radius: 8px;
}

#pagination {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style: none;
}

#pagination a{
    text-decoration: none;
    color: #f7f7f7;
    font-size: 2rem;
    font-weight: bold;
    padding: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}
#pagination a:hover, #pagination a:focus{
    text-decoration: none;
    color: #333333;
    font-size: 2rem;
    font-weight: bolder;
    padding: 5px;
    background-color: #f7f7f7;
    border-radius: 50%;
}

.hide {
   display: none;
}

/* * ///////////////////////////////////////////////////// End Gallery ///////////////////////////////////////////////////////// */

/* ? //////////////////////////////////////////////////// Start Footer ////////////////////////////////////////////////////////// */

section.footer {
    position: relative;
    left: 0;
    bottom: 12px;
    width: 100%;
    background: #eaeaea;
    padding-top: 60px;
    height: auto;
}

footer {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 0 30px;
}

@media (width < 620px) {
    footer {
        flex-direction: column;
    }

    footer.bottom {
        gap: 16px;
        flex-direction: column-reverse;
    }
}

footer > img {
    margin-top: 10px;
    width: 50px;
    border-radius: 50px;
}

@media (width >= 620px) {
    footer {
        margin: 0 auto;
        max-width: 600px;
        padding: 0;
    }
}

footer {
        color: #606060;
}

footer.top {
    border-bottom: 2px solid rgb(52,52,52);
    padding-bottom: 20px;
}

footer.bottom {
    padding: 20px 0;
    justify-content: space-between;
    overflow: hidden;
}

footer.top .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.links > div {
    display: grid;
    gap: 10px;
    margin-bottom: 30px;
}

footer h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #121212;
}

.legal {
        font-size: 12px;
}

.legal > a {
        margin: 0 4px;
        text-decoration: none;
}

.legal > span {
    margin-right: 10px;
}

footer.bottom .links {
    display: flex;
    gap: 18px;
}

footer.bottom .links > a {
    font-size: 24px;
    text-decoration: none;
    color: rgb(52,52,52);
}

@media (width < 420px) {
    footer {
        text-align: center;
        align-items: center;
    }

    footer.top .links {
        grid-template-columns: 1fr;
    }

    footer.bottom {
        align-items: center;
    }

    .legal > span {
        display: block;
        margin-right: 0;
        margin-bottom: 2px;
    }
}
/* ? //////////////////////////////////////////////////// End Footer ////////////////////////////////////////////////////////// */