body {
    margin: 0;
    background: rgb(52,52,52);
    background: -moz-radial-gradient(circle, rgba(52,52,52,1) 0%, rgba(8,8,8,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(52,52,52,1) 0%, rgba(8,8,8,1) 100%);
    background: radial-gradient(circle, rgba(52,52,52,1) 0%, rgba(8,8,8,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#343434",endColorstr="#080808",GradientType=1);
    color: #f7f7f7;
}

html,
body {
    height: 100%;
}

/* ? Navbar */

nav {
    background-color: #f7f7f7;
    color: #606060;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 20px;
    font-weight: bold;
    position: fixed;
}

nav h1 {
    margin: 0;
    font-size: 30px;
    color: #333333;
    display: flex;
    align-items: center;
    font-family: 'Alkatra', cursive;
    font-weight: 200;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #333333;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

nav li a:hover {
    background-color: #333333;
    color: #f7f7f7;
}

nav .fa-solid {
    margin-right: 10px;
    color: #333333;
}

nav .menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #333333;
}

@media (max-width: 830px) {
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #f7f7f7;
        padding: 10px;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    }
    nav ul li {
        margin: 10px 0;
    }
    nav .menu-icon {
        display: block;
    }
}

/* ? Content */

section.content {
    margin-top: 90px;
    margin-left: 6%;
    margin-right: 6%;
}

/* * Galería */
section.gallery {
    display: flex;
    width: 900px;
    height: 630px;
}
section.gallery img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
section.gallery img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

/* ? Footer */

section.footer {
    /* position: fixed; */
    left: 0;
    bottom: 12px;
    width: 100%;
    background: #eaeaea;
    padding-top: 60px;
}

footer {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 0 30px;
}

@media (width < 620px) {
    footer {
        flex-direction: column;
    }

    footer.bottom {
        gap: 16px;
        flex-direction: column-reverse;
    }
}

footer > img {
    margin-top: 10px;
    width: 50px;
    border-radius: 50px;
}

@media (width >= 620px) {
    footer {
        margin: 0 auto;
        max-width: 600px;
        padding: 0;
    }
}

footer {
        color: #606060;
}

footer.top {
    border-bottom: 2px solid rgb(52,52,52);
    padding-bottom: 20px;
}

footer.bottom {
    padding: 20px 0;
    justify-content: space-between;
}

footer.top .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.links > div {
    display: grid;
    gap: 10px;
    margin-bottom: 30px;
}

footer h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #121212;
}

.legal {
        font-size: 12px;
}

.legal > a {
        margin: 0 4px;
        text-decoration: none;
}

.legal > span {
    margin-right: 10px;
}

footer.bottom .links {
    display: flex;
    gap: 18px;
}

footer.bottom .links > a {
    font-size: 24px;
    text-decoration: none;
    color: rgb(52,52,52);
}

@media (width < 420px) {
    footer {
        text-align: center;
        align-items: center;
    }

    footer.top .links {
        grid-template-columns: 1fr;
    }

    footer.bottom {
        align-items: center;
    }

    .legal > span {
        display: block;
        margin-right: 0;
        margin-bottom: 2px;
    }
}